In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

name = './日k.xlsx'
df = pd.read_excel(name, title=0)
df

            時間    開盤價    最高價    最低價    收盤價     跳空  實體k大小  日震幅
0   2019-01-30   9925   9956   9896   9924      3      1   60
1   2019-01-29   9932   9936   9880   9922     54     10   56
2   2019-01-28  10000  10018   9975   9986     32     14   43
3   2019-01-25   9928   9989   9911   9968     68     40   78
4   2019-01-24   9833   9884   9820   9860     14     27   64
5   2019-01-23   9830   9860   9807   9819     15     11   53
6   2019-01-22   9841   9868   9822   9845     23      4   46
7   2019-01-21   9885   9919   9856   9864     64     21   63
8   2019-01-18   9825   9846   9770   9821     46      4   76
9   2019-01-17   9777   9834   9721   9779      7      2  113
10  2019-01-16   9781   9804   9755   9784     13      3   49
11  2019-01-15   9743   9817   9715   9794     54     51  102
12  2019-01-14   9738   9756   9660   9689     12     49   96
13  2019-01-11   9760   9803   9724   9750     66     10   79
14  2019-01-10   9710   9713   9673   9694      1     16   40
15  2019-01-09   9608   9755   9602   9709     50    101  153
16  2019-01-08   9600   9611   9532   9558     37     42   79
17  2019-01-07   9541   9588   9490   9563    171     22   98
18  2019-01-04   9367   9410   9305   9370     76      3  105
19  2019-01-03   9488   9547   9433   9443     41     45  114
20  2019-01-02   9760   9762   9506   9529     91    231  256
21  2018-12-28   9630   9680   9622   9669      3     39   58
22  2018-12-27   9589   9655   9566   9633    136     44   89
23  2018-12-26   9523   9555   9438   9453     46     70  117
24  2018-12-25   9480   9487   9410   9477    138      3   77
25  2018-12-24   9603   9627   9587   9618     17     15   40
26  2018-12-22   9580   9615   9575   9586     77      6   40
27  2018-12-21   9624   9668   9556   9657     15     33  112
28  2018-12-20   9638   9709   9610   9639    130      1   99
29  2018-12-19   9758   9778   9728   9768     41     10   50
..         ...    ...    ...    ...    ...    ...    ...  ...
269 2017-12-28  10495  10593  10494  10561     21     66   99
270 2017-12-27  10398  10485  10393  10474     19     76   92
271 2017-12-26  10540  10541  10406  10417     15    123  135
272 2017-12-25  10549  10564  10520  10525     16     24   44
273 2017-12-22  10498  10535  10473  10533      3     35   62
274 2017-12-21  10492  10539  10475  10495      5      3   64
275 2017-12-20  10457  10509  10457  10497      0     40   52
276 2017-12-19  10522  10530  10443  10457     21     65   87
277 2017-12-18  10527  10531  10456  10501     42     26   75
278 2017-12-15  10510  10515  10421  10485     17     25   94
279 2017-12-14  10508  10582  10498  10527     58     19   84
280 2017-12-13  10433  10475  10421  10450      2     17   54
281 2017-12-12  10496  10498  10386  10431     18     65  112
282 2017-12-11  10416  10497  10415  10478     20     62   82
283 2017-12-08  10388  10413  10336  10396     23      8   77
284 2017-12-07  10388  10427  10331  10365      4     23   96
285 2017-12-06  10540  10557  10375  10384     31    156  182
286 2017-12-05  10595  10627  10546  10571     54     24   81
287 2017-12-04  10604  10651  10564  10649      1     45   87
288 2017-12-01  10607  10664  10495  10603     31      4  169
289 2017-11-30  10650  10658  10569  10576     78     74   89
290 2017-11-29  10747  10763  10708  10728     39     19   55
291 2017-11-28  10735  10753  10695  10708     14     27   58
292 2017-11-27  10841  10848  10737  10749     13     92  111
293 2017-11-24  10841  10856  10829  10854     13     13   27
294 2017-11-23  10826  10857  10810  10854      0     28   47
295 2017-11-22  10825  10877  10807  10826     40      1   70
296 2017-11-21  10695  10788  10682  10785     29     90  106
297 2017-11-20  10714  10719  10654  10666     11     48   65
298 2017-11-17  10690  10710  10672  10703  10690     13   38

[299 rows x 8 columns]

In [10]:
df = df[:298]
df

            時間    開盤價    最高價    最低價    收盤價   跳空  實體k大小  日震幅
0   2019-01-30   9925   9956   9896   9924    3      1   60
1   2019-01-29   9932   9936   9880   9922   54     10   56
2   2019-01-28  10000  10018   9975   9986   32     14   43
3   2019-01-25   9928   9989   9911   9968   68     40   78
4   2019-01-24   9833   9884   9820   9860   14     27   64
5   2019-01-23   9830   9860   9807   9819   15     11   53
6   2019-01-22   9841   9868   9822   9845   23      4   46
7   2019-01-21   9885   9919   9856   9864   64     21   63
8   2019-01-18   9825   9846   9770   9821   46      4   76
9   2019-01-17   9777   9834   9721   9779    7      2  113
10  2019-01-16   9781   9804   9755   9784   13      3   49
11  2019-01-15   9743   9817   9715   9794   54     51  102
12  2019-01-14   9738   9756   9660   9689   12     49   96
13  2019-01-11   9760   9803   9724   9750   66     10   79
14  2019-01-10   9710   9713   9673   9694    1     16   40
15  2019-01-09   9608   9755   9602   9709   50    101  153
16  2019-01-08   9600   9611   9532   9558   37     42   79
17  2019-01-07   9541   9588   9490   9563  171     22   98
18  2019-01-04   9367   9410   9305   9370   76      3  105
19  2019-01-03   9488   9547   9433   9443   41     45  114
20  2019-01-02   9760   9762   9506   9529   91    231  256
21  2018-12-28   9630   9680   9622   9669    3     39   58
22  2018-12-27   9589   9655   9566   9633  136     44   89
23  2018-12-26   9523   9555   9438   9453   46     70  117
24  2018-12-25   9480   9487   9410   9477  138      3   77
25  2018-12-24   9603   9627   9587   9618   17     15   40
26  2018-12-22   9580   9615   9575   9586   77      6   40
27  2018-12-21   9624   9668   9556   9657   15     33  112
28  2018-12-20   9638   9709   9610   9639  130      1   99
29  2018-12-19   9758   9778   9728   9768   41     10   50
..         ...    ...    ...    ...    ...  ...    ...  ...
268 2017-12-29  10593  10644  10576  10633   32     40   68
269 2017-12-28  10495  10593  10494  10561   21     66   99
270 2017-12-27  10398  10485  10393  10474   19     76   92
271 2017-12-26  10540  10541  10406  10417   15    123  135
272 2017-12-25  10549  10564  10520  10525   16     24   44
273 2017-12-22  10498  10535  10473  10533    3     35   62
274 2017-12-21  10492  10539  10475  10495    5      3   64
275 2017-12-20  10457  10509  10457  10497    0     40   52
276 2017-12-19  10522  10530  10443  10457   21     65   87
277 2017-12-18  10527  10531  10456  10501   42     26   75
278 2017-12-15  10510  10515  10421  10485   17     25   94
279 2017-12-14  10508  10582  10498  10527   58     19   84
280 2017-12-13  10433  10475  10421  10450    2     17   54
281 2017-12-12  10496  10498  10386  10431   18     65  112
282 2017-12-11  10416  10497  10415  10478   20     62   82
283 2017-12-08  10388  10413  10336  10396   23      8   77
284 2017-12-07  10388  10427  10331  10365    4     23   96
285 2017-12-06  10540  10557  10375  10384   31    156  182
286 2017-12-05  10595  10627  10546  10571   54     24   81
287 2017-12-04  10604  10651  10564  10649    1     45   87
288 2017-12-01  10607  10664  10495  10603   31      4  169
289 2017-11-30  10650  10658  10569  10576   78     74   89
290 2017-11-29  10747  10763  10708  10728   39     19   55
291 2017-11-28  10735  10753  10695  10708   14     27   58
292 2017-11-27  10841  10848  10737  10749   13     92  111
293 2017-11-24  10841  10856  10829  10854   13     13   27
294 2017-11-23  10826  10857  10810  10854    0     28   47
295 2017-11-22  10825  10877  10807  10826   40      1   70
296 2017-11-21  10695  10788  10682  10785   29     90  106
297 2017-11-20  10714  10719  10654  10666   11     48   65

[298 rows x 8 columns]

In [15]:
df1 = df[['跳空', '實體k大小', '日震幅']]
df1

      跳空  實體k大小  日震幅
0      3      1   60
1     54     10   56
2     32     14   43
3     68     40   78
4     14     27   64
5     15     11   53
6     23      4   46
7     64     21   63
8     46      4   76
9      7      2  113
10    13      3   49
11    54     51  102
12    12     49   96
13    66     10   79
14     1     16   40
15    50    101  153
16    37     42   79
17   171     22   98
18    76      3  105
19    41     45  114
20    91    231  256
21     3     39   58
22   136     44   89
23    46     70  117
24   138      3   77
25    17     15   40
26    77      6   40
27    15     33  112
28   130      1   99
29    41     10   50
..   ...    ...  ...
268   32     40   68
269   21     66   99
270   19     76   92
271   15    123  135
272   16     24   44
273    3     35   62
274    5      3   64
275    0     40   52
276   21     65   87
277   42     26   75
278   17     25   94
279   58     19   84
280    2     17   54
281   18     65  112
282   20     62   82
283   23      8   77
284    4     23   96
285   31    156  182
286   54     24   81
287    1     45   87
288   31      4  169
289   78     74   89
290   39     19   55
291   14     27   58
292   13     92  111
293   13     13   27
294    0     28   47
295   40      1   70
296   29     90  106
297   11     48   65

[298 rows x 3 columns]

In [26]:
df_1 = df1[:50]
df_2 = df1[51:100]
df_3 = df1[101:150]
df_4 = df1[151:200]
df_5 = df1[253:287]
df_1.corr()

             跳空     實體k大小       日震幅
跳空     1.000000  0.175924  0.286792
實體k大小  0.175924  1.000000  0.867856
日震幅    0.286792  0.867856  1.000000

In [27]:
df_2.corr()

             跳空     實體k大小       日震幅
跳空     1.000000  0.628797  0.639038
實體k大小  0.628797  1.000000  0.922049
日震幅    0.639038  0.922049  1.000000

In [28]:
df_3.corr()

             跳空     實體k大小       日震幅
跳空     1.000000 -0.134749  0.011765
實體k大小 -0.134749  1.000000  0.758208
日震幅    0.011765  0.758208  1.000000

In [29]:
df_4.corr()

             跳空     實體k大小       日震幅
跳空     1.000000 -0.041781 -0.152616
實體k大小 -0.041781  1.000000  0.749380
日震幅   -0.152616  0.749380  1.000000

In [30]:
df_5.corr()

             跳空     實體k大小       日震幅
跳空     1.000000 -0.116224  0.040414
實體k大小 -0.116224  1.000000  0.787009
日震幅    0.040414  0.787009  1.000000

In [32]:
df1.corr()

             跳空     實體k大小       日震幅
跳空     1.000000  0.351537  0.461160
實體k大小  0.351537  1.000000  0.832422
日震幅    0.461160  0.832422  1.000000

In [65]:
min_df = df[(df1['跳空'] > 10) & (df1['跳空'] < 30)]
min_df[['實體k大小', '日震幅']].describe()

            實體k大小         日震幅
count   96.000000   96.000000
mean    42.072917   87.197917
std     31.929938   32.049508
min      2.000000   27.000000
25%     18.000000   65.000000
50%     33.000000   80.500000
75%     62.250000  107.750000
max    151.000000  172.000000

In [64]:
max_df = df[df1['跳空'] > 50]
max_df[['實體k大小', '日震幅']].describe()

            實體k大小         日震幅
count   95.000000   95.000000
mean    60.473684  113.200000
std     60.753223   69.839268
min      1.000000   40.000000
25%     20.000000   77.000000
50%     44.000000   90.000000
75%     82.000000  124.000000
max    372.000000  450.000000